name: Nutaan SMTP Pipeline

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Choose action to run"
        required: true
        default: build
        type: choice
        options:
          - build
          - deploy

jobs:

  build:
    if: ${{ github.event.inputs.action == 'build' }}
    name: Build Project
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build --if-present

      - name: Run Tests
        run: npm test --if-present

      - name: Build Completed
        run: echo "Build successful"


  deploy:
    if: ${{ github.event.inputs.action == 'deploy' }}
    name: Deploy to VPS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0

        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script_stop: true

          script: |
            cd nutaan-smtp
            git pull origin main
            npm install
            pm2 restart nutaan-smtp || pm2 start index.js --name nutaan-smtp
            pm2 save
